// ******* Ary aristote
@font-face{
    font-family: AvenirReg;
    src: url(../public/AvenirReg.otf);
}
@font-face{
    font-family: AvenirBold;
    src: url(../public/AvenirBold.otf);
}
@font-face{
    font-family: AvenirTH;
    src: url(../public/AvenirTh.ttf);
}

.App-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    .App-logo{
        width: 24.75px;
        height: 25.004px;
        flex-shrink: 0;
    }
    b{
        color: #213F7D;
        font-family: AvenirReg;
        font-size: 16px;
    }
}


body {
    background-color: white;
    overflow-x: hidden;
    width: 100%;
    height: 900px;
    flex-shrink: 0;
    
    .container {
        padding-right: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    @media (min-width: 768px) {
        .container {
          width: 750px;
        }
    }
    @media (min-width: 992px) {
        .container {
          width: 970px;
        }
    }
    @media (min-width: 1200px) {
        .container {
          width: 1170px;
        }
    }

    .App{
        .App-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;

            .App-logo{
                width: 24.75px;
                height: 25.004px;
                flex-shrink: 0;
            }
            b{
                color: #213F7D;
                font-family: AvenirReg;
                font-size: 16px;
            }
        }

        .App-body{
            padding: 10% 0;
            display: flex;
            flex-direction: row;
            align-items: center;

            .body-left{
                width: 49%;
                height: 337.569px;
                flex-shrink: 0;
                background: url(./img/pablo-sign-in-1.svg);
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
            }
            .body-right{
                background: var(--6, #FFF);
                // box-shadow: 0px 15px 90px 0px rgba(0, 0, 0, 0.03);
                width: 49%;
                flex-shrink: 0;

                .right-content{
                    margin: 0 15%;

                    .header{
                        padding: 0 0 30px 0;
                        h3{
                            color: #213F7D;
                            font-size: 40px;
                            font-family: AvenirBold;
                            font-weight: 700;
                            letter-spacing: -1.5px;
                            padding: 0;
                            margin: 0;
                        }
                        small{
                            font-family: AvenirTH;
                            color: #545F7D;
                            font-size: 20px;
                        }
                    }
                    .input{
                        padding-top: 30px;

                        form{
                            div{
                                margin: 20px 0;

                                input{
                                    border-radius: 5px;
                                    border: 2px solid rgba(84, 95, 125, 0.15);
                                    background: #FFF;
                                    width: 96%;
                                    padding: 14px 5px; 

                                    &:focus{
                                        background-color: #fff;
                                        outline: none;
                                    }
                                }
                            }
                            .forgetPass{
                                a{
                                    color: #39CDCC;
                                    text-align: right;
                                    font-size: 12px;
                                    font-family: AvenirReg;
                                    text-decoration: none;
                                    font-weight: 600;
                                    letter-spacing: 1.2px;
                                    text-transform: uppercase;

                                    &:hover{
                                        color: #28a5a5;
                                    }
                                }
                            }
                            .submitBtn{
                                padding: 10px 0 0 0;
                                
                                button{
                                    border-radius: 6px;
                                    background: #39CDCC;
                                    width: 100%;
                                    padding: 14px;
                                    outline: none;
                                    border: none;
                                    color: white;
                                    font-family: AvenirReg;
                                    font-size: 14px;
                                    text-transform: uppercase;

                                    &:hover{
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
  
// Whole App responsive design
//Mobile and ipad
@media (min-width: 250px) and (max-width: 768px) {
    body{
        width: 100%;
        .App{
            .App-body{
                display: flex;
                flex-direction: column;
                gap: 4px;
                width: 100%;

                .body-left{
                    width: 80%;
                    flex-shrink: 0;
                }
                .body-right{
                    width: 100%;
                    flex-shrink: 0;
                }
            }
        }
    }
}

// Dashboard css 

$text-color: #7d84ab;
$secondary-text-color: #dee2ec;

$bg-color: #fff;
$secondary-bg-color: #fff;

$border-color: rgba(#535d7d, 0.3);

$sidebar-header-height: 100px;
$sidebar-footer-height: 230px;

.navBar {
    display: flex;  
    justify-content: space-between; 
    padding: 2px 2rem;
    height: 70px;
    background: white;
    background: #FFF;
    box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;

    .nav-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .nav-left{
            width: 78vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .search{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .searchTerm {
                    border-radius: 8px 0 0 8px;
                    padding: 10px 15px;
                    height: 40px;
                    width: 20vw;
                    border: 1.5px solid #213F7D;
                    border-right: none;
                    opacity: 0.20000000298023224;
                    background: #FFF;
                    outline: none;
                    
                    &:focus{
                        color: #162d4a;
                    }
                }

                .searchButton{
                    background: #39CDCC;
                    border: none;
                    text-align: center;
                    color: #fff;
                    height: 40px;
                    border-radius: 0 5px 5px 0;
                    cursor: pointer;
                    font-size: 20px;
                    padding: 8.5px 20px;

                    .searchIcn{
                        width: 15px;
                    }
                }
            }

            .profile{
                width: 25%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 20px;
                
                div{
                    width: 100%;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;

                    li{
                        a{
                            color: #213F7D;
                            font-weight: 500;
                            padding-right: 15px;

                            .notifIcn{
                                font-size: 20px;
                            }
                        }
                    }
                }
                .profile-opt{
                    .prof-content{
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        img{
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
}

.layout {
    z-index: 1;
    display: flex;
    flex-direction: row;

    .body-content{
        width: 84vw;
        background-color: whitesmoke;
        margin-top: 5em;

        .up-block{
            padding-bottom: 20px;

            div{
                .title{
                    color: #213F7D;
                    font-size: 24px;
                    font-weight: 700;
                }
            }

            .card-list{
                display: grid;
                grid-template-columns: 24% 24% 24% 24%;
                gap: 17px;

                .card-content{
                    width: 100%;
                    padding: 15px;
                    height: 180px;
                    border-radius: 4px;
                    border: 1px solid rgba(33, 63, 125, 0.06);
                    background: #FFF;
                    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);

                    .card-title{
                        text-transform: uppercase;
                        color: #213F7D;
                    }

                    .icon{
                        padding: 12px 15px;
                        width: 50px;
                        border-radius: 50px;
                        background-color: #f5dff8;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        ._icon{
                            font-size: 25px;
                            color: #DF18FF;
                        }
                    }
                    .icon2{
                        padding: 12px 15px;
                        width: 50px;
                        border-radius: 50px;
                        background-color: #d1c5f4;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        ._icon{
                            font-size: 25px;
                            color: #5718FF;
                        }
                    }
                    .icon3{
                        padding: 12px 15px;
                        width: 50px;
                        border-radius: 50px;
                        background-color: #f8cdc5;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        ._icon{
                            font-size: 25px;
                            color: #F55F44;
                        }
                    }
                    .icon4{
                        padding: 12px 15px;
                        width: 50px;
                        border-radius: 50px;
                        background-color:#f6cbd6;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        ._icon{
                            font-size: 25px;
                            color:#FF3366;
                        }
                    }
                }
            }
        }

        .down-block{
            border-radius: 4px;
            background: #FFF;
            margin-bottom: 20px;
            box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
            padding: 20px;

            .styled-table{
                border-collapse: collapse;
                width: 100%;

                thead {
                    tr{
                        color: #213F7D;
                        text-transform: uppercase;
                        text-align: left;
                    }
                    th, tr{
                        padding: 17px 10px;
                    }
                }

                tbody tr{
                    border-bottom: 1px solid rgba(33, 63, 125, 0.10);
                    
                    td{
                        padding: 15px 10px;
                        margin: 10px 0;
                        text-align: left;
                        color: #545F7D;

                        .activeCls{
                            text-align: center;
                            
                            padding: 10px 20px!important;
                            margin-bottom: 5px;
                            border-radius: 50px;
                            font-weight: bold;
                        }
                        .one{
                            background-color: #eaebee;
                            color: #545F7D;
                        }
                        .two{
                            background-color: #eee5c9;
                            color: #E9B200;
                        }
                        .three{
                            background-color: #f5d6de;
                            color: #E4033B;
                        }
                        .four{
                            background-color: #d3f4dc;
                            color: #39CD62;
                        }
                        .moreIcon{
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .pagination{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: #545F7D;

            .pag-content{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                select{
                    border: none;
                    padding: 5px 8px;
                    border-radius: 4px;
                    background: rgba(33, 63, 125, 0.10);

                    &:focus{
                        border: none;
                        outline: none;
                    }
                }
            }

            .pag-btn{
                
                .btn-block{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;

                    .pagBtn{
                        background: rgba(33, 63, 125, 0.10);
                        padding: 6px;
                        color: #213F7D;
                        border-radius: 7px;
                        display: flex;
                        align-items: center;
                    }

                    p{
                        padding: 6px 8px;

                        &:hover{
                            cursor: pointer;
                            background: rgba(33, 63, 125, 0.10);
                            padding: 6px 8px;
                            color: #213F7D;
                            border-radius: 7px;
                        }
                    }
                }
            }
        }
    }

    .header {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    .content {
        padding: 12px 50px;
        display: flex;
        flex-direction: column;
    }
  
    .footer {
        text-align: center;
        margin-top: auto;
        margin-bottom: 20px;
        padding: 20px;
    }
}
  
  
.sidebar {
    color: $text-color;
    overflow-x: hidden !important;
    position: relative;
    width: 17vw;
    height: 90vh;
    background-color: white;
    margin-top: 5em;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
  
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
    }
    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: lighten($bg-color, 15);
        }
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: $bg-color;
    }
  
    .image-wrapper {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: none;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &.has-bg-image .image-wrapper {
      display: block;
    }
  
    .sidebar-layout {
        height: auto;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: $bg-color;
        z-index: 2;
  
        .sidebar-header {
            height: $sidebar-header-height;
            min-height: $sidebar-header-height;
            display: flex;
            align-items: center;
            padding: 0 20px;
    
            >span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    
        .sidebar-content {
            flex-grow: 1;
            padding: 10px 0;
        }
    
        .sidebar-footer {
            height: $sidebar-footer-height;
            min-height: $sidebar-footer-height;
            display: flex;
            align-items: center;
            padding: 0 20px;
    
            >span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
  
@keyframes swing {
    0%,
    30%,
    50%,
    70%,
    100% {
      transform: rotate(0deg);
    }
  
    10% {
      transform: rotate(10deg);
    }
  
    40% {
      transform: rotate(-10deg);
    }
  
    60% {
      transform: rotate(5deg);
    }
  
    80% {
      transform: rotate(-5deg);
    }
}
  
.layout {
    .sidebar {
        .menu {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            .menu-header {
                font-weight: 600;
                padding: 10px 25px;
                font-size: 0.8em;
                letter-spacing: 2px;
                transition: opacity 0.3s;
                opacity: 0.5;
            }
            .menu-item {
                border-left: 6px solid #fff;

                &:hover{
                    border-left: 6px solid #39CDCC;
                    background-color: #afefef;
                }
                a {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    padding: 0 20px;
                    color: $text-color;
        
                    .menu-icon {
                        font-size: 1.2rem;
                        width: 35px;
                        min-width: 35px;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        display: inline-block;
                        margin-right: 10px;
                        border-radius: 2px;
                        transition: color 0.3s;
                    }
        
                    .menu-title {
                        font-size: 1em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        flex-grow: 1;
                        transition: color 0.3s;
                    }
                    .menu-prefix,
                    .menu-suffix {
                        display: inline-block;
                        padding: 5px;
                        opacity: 1;
                        transition: opacity 0.3s;
                    }
                    &:hover {
                    .menu-title {
                        color: #213F7D;
                        font-weight: 500;
                    }
                    .menu-icon {
                        color: #213F7D;
                        i {
                        animation: swing ease-in-out 0.5s 1 alternate;
                        }
                    }
                    &::after {
                        border-color: $secondary-text-color !important;
                    }
                    }
                }
    
                &.sub-menu {
                    position: relative;
                    > a {
                    &::after {
                        content: '';
                        transition: transform 0.3s;
                        border-right: 2px solid currentcolor;
                        border-bottom: 2px solid currentcolor;
                        width: 5px;
                        height: 5px;
                        transform: rotate(-45deg);
                    }
                    }
        
                    > .sub-menu-list {
                    padding-left: 20px;
                    display: none;
                    overflow: hidden;
                    z-index: 999;
                    }
                    &.open {
                    > a {
                        color: $secondary-text-color;
                        &::after {
                        transform: rotate(45deg);
                        }
                    }
                    }
                }
    
                &.active {
                    > a {
                    .menu-title {
                    }
                    &::after {
                        border-color: $secondary-text-color;
                    }
                    .menu-icon {
                        color: $secondary-text-color;
                    }
                    }
                }
                }
                > ul > .sub-menu > .sub-menu-list {
                    background-color: $secondary-bg-color;
                }
    
                &.icon-shape-circle,
                &.icon-shape-rounded,
                &.icon-shape-square {
                .menu-item a .menu-icon {
                    background-color: $secondary-bg-color;
                }
                }
        
                &.icon-shape-circle .menu-item a .menu-icon {
                border-radius: 50%;
                }
                &.icon-shape-rounded .menu-item a .menu-icon {
                border-radius: 4px;
                }
                &.icon-shape-square .menu-item a .menu-icon {
                border-radius: 0;
                }
            }

            .active {
                border-left: 6px solid #39CDCC!important;
                background-color: #afefef;

                a{
                    .menu-icon{
                        color: #213F7D!important;
                    }
                    .menu-title{
                        color: #213F7D!important;
                        font-weight: 500;
                    }
                }
            }
  
            &:not(.collapsed) {
                .menu > ul {
                > .menu-item {
                    &.sub-menu {
                    > .sub-menu-list {
                        visibility: visible !important;
                        position: static !important;
                        transform: translate(0, 0) !important;
                    }
                    }
                }
                }
            }
  
            &.collapsed {
                .menu > ul {
                > .menu-header {
                    opacity: 0;
                }
                > .menu-item {
                    > a {
                    .menu-prefix,
                    .menu-suffix {
                        opacity: 0;
                    }
                    }
                    &.sub-menu {
                    > a {
                        &::after {
                        content: '';
                        width: 5px;
                        height: 5px;
                        background-color: currentcolor;
                        border-radius: 50%;
                        display: inline-block;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        border: none;
                        transform: translateY(-50%);
                        }
                        &:hover {
                        &::after {
                            background-color: $secondary-text-color;
                        }
                        }
                    }
                    > .sub-menu-list {
                        transition: none !important;
                        width: 200px;
                        margin-left: 3px !important;
                        border-radius: 4px;
                        display: block !important;
                    }
                    }
                    &.active {
                    > a {
                        &::after {
                        background-color: $secondary-text-color;
                        }
                    }
                    }
                }
                }
            }
            &.has-bg-image {
                .menu {
                &.icon-shape-circle,
                &.icon-shape-rounded,
                &.icon-shape-square {
                    .menu-item a .menu-icon {
                    background-color: rgba($secondary-bg-color, 0.6);
                    }
                }
                }
                &:not(.collapsed) {
                .menu {
                    > ul > .sub-menu > .sub-menu-list {
                    background-color: rgba($secondary-bg-color, 0.6);
                    }
                }
                }
            }
        }
  
    &.rtl {
    .sidebar {
        .menu {
        .menu-item {
            a {
            .menu-icon {
                margin-left: 10px;
                margin-right: 0;
            }
            }

            &.sub-menu {
            > a {
                &::after {
                transform: rotate(135deg);
                }
            }

            > .sub-menu-list {
                padding-left: 0;
                padding-right: 20px;
            }
            &.open {
                > a {
                &::after {
                    transform: rotate(45deg);
                }
                }
            }
            }
        }
        }

        &.collapsed {
        .menu > ul {
            > .menu-item {
            &.sub-menu {
                a::after {
                right: auto;
                left: 10px;
                }

                > .sub-menu-list {
                margin-left: -3px !important;
                }
            }
            }
        }
        }
    }
    }
}
  
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #3f4750;
    font-size: 0.9rem;
}
  
a {
    text-decoration: none;
}

@media (max-width: 576px) {
    #btn-collapse {
    display: none;
    }
}
  
  
.layout {
    .sidebar {
        .pro-sidebar-logo {
            display: flex;
            align-items: center;
    
            > div {
                width: 35px;
                min-width: 35px;
                height: 35px;
                min-height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                color: white;
                font-size: 24px;
                font-weight: 700;
                background-color: #ff8100;
                margin-right: 10px;
            }
    
            > h5 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 20px;
                line-height: 30px;
                transition: opacity 0.3s;
                opacity: 1;
            }
        }

        .footer-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 0.8em;
            padding: 20px 0;
            border-radius: 8px;
            width: 180px;
            min-width: 190px;
            margin: 0 auto;
            background-color: #162d4a;
            img.react-logo {
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
            }
            a {
            color: #fff;
            font-weight: 600;
            margin-bottom: 10px;
            }
        }

        .sidebar-collapser {
            transition: left, right, 0.3s;
            position: fixed;
            left: 200px;
            top: 27px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            // background-color: #00829f;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            transform: translateX(50%);
            z-index: 111;
            cursor: pointer;
            color: #213F7D;
            box-shadow: 1px 1px 4px $bg-color;
        }
    
        &.collapsed {
            .pro-sidebar-logo {
            > h5 {
                opacity: 0;
            }
            }
            .footer-box {
            display: none;
            }
            .sidebar-collapser {
            left: 60px;
            i {
                transform: rotate(180deg);
            }
            }
        }
    }
}
    
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #6c757d;

    &.primary {
        background-color: #ab2dff;
    }

    &.secondary {
        background-color: #079b0b;
    }
}

.sidebar-toggler {
    position: fixed;
    right: 20px;
    top: 20px;
}

.social-links {
    a {
        margin: 0 10px;
        color: #3f4750;
    }
}
  

//-------------------------------

//Small screen
@media (min-width: 769px) and (max-width: 1024px) {
    body{
        width: 100%;

        .App{
            .App-body{
                display: flex;
                flex-direction: row;
                gap: 4px;
                width: 100%;

                .body-left{
                    width: 50%;
                    flex-shrink: 0;
                }
                .body-right{
                    width: 50%;
                    flex-shrink: 0;
                }
            }
        }
    }
}

//Normal screen
@media (min-width: 1025px) and (max-width: 1200px) {
    body{
        border: 10px solid green;
        width: 100%;

        .App{
            .App-body{
                display: flex;
                flex-direction: row;
                gap: 4px;
                width: 100%;

                .body-left{
                    width: 50%;
                    flex-shrink: 0;
                }
                .body-right{
                    width: 50%;
                    flex-shrink: 0;
                }
            }
        }
    }
}